<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>

        body {
            padding-top:80px;
            background-color: black;
        }

        .jumbotron:hover{
            background-color: black;
            transition: 1s;
            color: white;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="heading">
        <h3 style="display: inline; font-family: 'Old English Text MT'; color: white">Powered By &nbsp;
        <img height="47" width="180" src="https://s3.amazonaws.com/com.twilio.prod.cms-assets/Twilio_logo_red_5.png">
        </h3>
    </div><br>
    <div class="jumbotron text-center" onmouseover="stext">
        <h1 style="font-family: 'Times New Roman'"><span class="fa fa-lock"></span> Mobile Number Verification System</h1>
        <h3 style="font-family: 'Times New Roman'; display: inline">Register here:</h3>
        <a href="/users/new" class="btn btn-default" style="font-family: 'Times New Roman'; font-size: 18px"><span class="fa fa-user"></span> Signup</a>
    </div>
    <div class="footer" align="right">
        <p style="color: white; font-size: 22px; font-family: 'Monotype Corsiva'">
            - Developed by Amartya Biswas
            <br>
            Copyright <i class="fa fa-copyright" style="color: white; font-size: 19px"></i> 2018@titil
        </p>
    </div>
</div>
</body>
</html>