<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success">
                </span><strong>Thanks <%=user.fullName%> for registering.</strong>
                <hr class="message-inner-seperator">
                <p>Your mobile no. <%= user.phone %> is now registered, and your email account has been verified.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>